# Module 6. Data Manipulation and Analysis with Pandas.

**_Author: Favio VÃ¡zquez_**

**Expected time = 3 hours**

**Total points = 140 points**

## Assignment Overview

In this assignment you will be practicing and testing your understanding on how to manipulate and analyse data with Pandas. You will begin by reviewing basic concepts on how to read data, then you will learn about the Series and Dataframe API, it's functioanlties and methods. After that, you will index, select and edit data inside dataframes. In the final parts of the assignment you will be combining, grouping and and aggregating dataframes.

This assignment is designed to build your familiarity and comfort coding in Python while also helping you review key topics from each module. As you progress through the assignment, answers will get increasingly complex. It is important that you adopt a data scientist's mindset when completing this assignment. **Remember to run your code from each cell before submitting your assignment.** Running your code beforehand will notify you of errors and give you a chance to fix your errors before submitting. You should view your Vocareum submission as if you are delivering a final project to your manager or client. 

***Vocareum Tips***
- Do not add arguments or options to functions unless you are specifically asked to. This will cause an error in Vocareum.
- Do not use a library unless you are expicitly asked to in the question. 


### Learning Objectives

- Use Pandas to build, extract, filter, and transform DataFrames.
- Describe Pandas data structures: DataFrames and Series.  
- Use Pandas objects for analyses.

## Index:

#### Module 6: Data Manipulation and Analysis with Pandas.

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)
- [Question 9](#Question-9)
- [Question 10](#Question-10)
- [Question 11](#Question-11)
- [Question 12](#Question-12)
- [Question 13](#Question-13)
- [Question 14](#Question-14)
- [Question 15](#Question-15)
- [Question 16](#Question-16)
- [Question 17](#Question-17)

In [1]:
# Let's start by importing Pandas
import pandas as pd

# Avoid warnings
import warnings
warnings.filterwarnings("ignore")

### Importing data

We will begin this assignment with a review of how to import data with Pandas. For several parts of this assignment we will be using two datasets coming from the past 120 years of Olympic history: athletes and results. This dataset can be found on Kaggle in this link:

https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. 

The file `athlete_events.csv` contains 271116 rows and 15 columns. Each row corresponds to an individual athlete competing in an individual Olympic event (athlete-events). The columns are:

- ID - Unique number for each athlete
- Name - Athlete's name
- Sex - M or F
- Age - Athlete's age
- Height - In centimeters
- Weight - In kilograms
- Team - Team name
- NOC - National Olympic Committee 3-letter code
- Games - Year and season
- Year - Year of game
- Season - Summer or Winter
- City - Host city
- Sport - Sport
- Event - Event
- Medal - Gold, Silver, Bronze, or NA

The file `noc_regions.csv` contains 230 rows and 3 columns. Each row contains information about the different Nationnal Olympic Committee (NOC). The columns are:

- NOC - National Olympic Committee abreviation
- region - Name of country in NOC
- notes - Notes about the region and NOC


[Back to top](#Index:)

### Question 1
*5 points*

Read the CSV file named `"athlete_events.csv"` in the `data/` folder and assign it to a dataframe called `df`.

In [2]:
pwd

'C:\\Users\\kohjw\\Desktop\\Applied Machine Learning\\Assignment 6-12 solutions'

In [3]:
### GRADED

### YOUR SOLUTION HERE
df = pd.read_csv("C:\\Users\\kohjw\\Desktop\\Applied Machine Learning\\Assignment 6-12 solutions\\athlete_events.csv")

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [4]:
# Let's take a look at our dataframe df
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
# Let's see the shape of out dataframe df
print("Number of rows: {}, number of columns: {}".format(df.shape[0],df.shape[1]))

Number of rows: 271116, number of columns: 15

[Back to top](#Index:) 

### Question 2
*5 points*

Read the CSV file named `"noc_regions.csv"` in the `data/` folder and assign it to a dataframe called `regions`.

In [6]:
### GRADED

### YOUR SOLUTION HERE
regions = pd.read_csv("C:\\Users\\kohjw\\Desktop\\Applied Machine Learning\\Assignment 6-12 solutions\\noc_regions.csv")

###
### YOUR CODE HERE
###

In [7]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [8]:
# Let's take a look at our dataframe regions
regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [ ]:
# Let's see the shape of out dataframe regions
print("Number of rows: {}, number of columns: {}".format(regions.shape[0],regions.shape[1]))

### Pandas Objects

In this part of the assignment we will begin studying the two most important objects exposed by Pandas: Series and Dataframes. As you remember:
- **Series** is a 1 dimensional data structure in Pandas
- **DataFrame** is a 2 dimentional data structure in Pandas, made up of columns and rows

[Back to top](#Index:) 

### Question 3
*5 points*

Get a series from the dataframe `df` with the contents of the column `Height` and store it in a variable called `height`.

In [9]:
### GRADED

### YOUR SOLUTION HERE
height = df["Height"]

###
### YOUR CODE HERE
###

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 4
*10 points*
    
Use a lambda function to rename the index (or labels) of the series `height` from above with new labels that start from 0 and after that each one should be the squared value of the original label. Like this:

$$
0 \rightarrow 0 \\
1 \rightarrow 1 \\
2 \rightarrow 4 \\
3 \rightarrow 9Â \\
\vdots
$$

Save this new series in a variable called `height_new`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
height_new = height.rename(lambda x: x ** 2)

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 5
*5 points*

Get a series from the dataframe `regions` with the contents of the column `region` and store it in a variable called `reg`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
reg = regions["region"]

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 6
*10 points*

Find how many regions in the series `reg` start with the letter `A` and save it in a variable called `a_number`. Then find how many regions in the series `reg` start with the letter `V` and save it in a variable called `v_number`.

**Hints:** 

** - Make sure you don't count any missing values.**

** - There are 14 regions that start with A, and 6 regions that start with V.**

In [ ]:
### GRADED

### YOUR SOLUTION HERE
a_number = reg.str.startswith("A", na=False).value_counts()[1]
v_number = reg.str.startswith("V", na=False).value_counts()[1]

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 7
*5 points*
    
Create a new dataframe from the dataframe `df`, that only contain the columns `ID`, `Age`, `Height`, `Weight` and `Sex` in that specific order. Name this new dataframe `df_subset`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
df_subset = df[["ID", "Age", "Height", "Weight", "Sex"]]

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 8
*10 points*
    
Create a new column for the dataframe `df_subset` named `Ratio`, where you will be storing the following calculation:

$$
Ratio = \frac{Height + Weight}{Age}
$$

Make sure to store the new column in the same dataframe `df_subset`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
df_subset["Ratio"] = df_subset.apply(lambda x: (x['Height'] + x['Weight'])/x['Age'], axis=1)

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Indexing and selecting data from Dataframes

In this part of the assignment we will work with the dataframes from above to select specific data using Pandas different methods and attributes. You have learned to use `loc[]` and `iloc[]` to do this.

[Back to top](#Index:) 

### Question 9
*5 points*

Select rows 4 through 12 and the first 6 columns from the dataframe `df` and store them in a new dataframe called `df_1`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
df_1 = df.loc[3:11, "ID":"Weight"]

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 10
*10 points*

Select all the rows from the dataframe `df` when the `Year` is greater than 1980 and the `Team` is equal to "China", "United States", "Italy" or "Spain". Save your results in a dataframe called `df_2`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
df_2 = df.loc[df.Year > 1980]
df_2 = df.loc[df.Team.isin(["China", "United States", "Italy", "Spain"])]

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 11
*5 points*

Using the function `iloc()` select the rows with index 0, 10, 20, 40, 43, 66 and the columns with index 0, 3, 5 from the dataframe `df`. Store your results in a dataframe called `df_3`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
df_3 = df.iloc[[0, 10, 20, 40, 43, 66],[0, 3, 5]]

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Editing data in DataFrames

In this section we will modify the internal structure and data of dataframes, deleting some of its columns and transforming others.

[Back to top](#Index:) 

### Question 12
*15 points*

Drop the column `notes` from the dataframe `regions`. Then create a new column called `flag` that contains a 1 if the value in the column `region` contains the letter "a" or 0 otherwise. Make sure to keep the changes in a dataframe with the same name `regions`. The final dataframe should look like this:


| NOC | region  | flag |
|----|-------|-----------|
| AFG  | Afghanistan | 1      |
| AHO  | Curacao | 1    |
| YEM  | Yemen  | 0     |
| ...  | ...     | ... |

Make sure to validate if the region contains `NaN` and set it to 0 in the new column `flag`.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
regions = regions.drop("notes", axis=1)
regions["flag"] = regions.region.str.contains("a", na=False).astype(int)

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Combining DataFrames

In this section we will be combining our dataframes `df` and `regions` and learn different ways of working with them.

[Back to top](#Index:) 

### Question 13
*10 points*
    
Combine the dataframes `df` and `regions` into a new dataframe called `merged`. The join should be a "left" join for `df` on the column `NOC`.

In [ ]:
### GRADED

# Let's read our data again to have the original datasets
df = pd.read_csv("data/athlete_events.csv")
regions = pd.read_csv("data/noc_regions.csv")

### YOUR SOLUTION HERE
merged = pd.merge(df, regions, on='NOC', how='left')

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 14
*10 points*

Given the dataset `add` that contains columns A, B, C, and D with 230 rows of random integers. Make a copy of the dataframe regions called regions add, and append the columns `A` and `B` to the dataframe `regions_add`.

In [ ]:
### GRADED

import numpy as np

np.random.seed(42)
add = pd.DataFrame(np.random.randint(0,230,size=(230, 4)), columns=list('ABCD')) 

### YOUR SOLUTION HERE
regions_add = regions.copy()
regions_add["A"] = add["A"]
regions_add["B"] = add["B"]

In [ ]:
# See your final dataframe
regions_add.head()

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Grouping and aggregating dataframes

In this final section we will group and perform aggregations on our dataframes.

In [ ]:
# Let's read our data again to have the original datasets
df = pd.read_csv("data/athlete_events.csv")
regions = pd.read_csv("data/noc_regions.csv")

[Back to top](#Index:) 

### Question 15
*10 points*

Get the top 5 countries with the most amount of gold medals of all time from the dataframe `merged`. Save your results in a dataframe called `gold`.

**Hint: Use `reset_index(name='Medal')` to get the results in a dataframe.**

In [ ]:
### GRADED

### YOUR SOLUTION HERE
gold = merged.region.value_counts().reset_index(name='Medal').head(5)

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 16
*10 points*

What was the average height for the gold winners each year of the olympics (using the dataframe `merged`)? Store your result in a Series called `gold_height`.

**Hint: Remove NaNs before perfoming the operation.**

In [ ]:
### GRADED

### YOUR SOLUTION HERE
merged.dropna()
gold_height = merged[merged.Medal == "Gold"].groupby("Year")["Height"].mean()

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 17
*10 points*

What was the average weight for the USA team for each year of the Olympics (using the `merge` dataframe)? Store your result in a Series called `weight_USA`.

**Hint: Remove NaNs before perfoming the operation.**

In [ ]:
### GRADED

### YOUR SOLUTION HERE
merged.dropna()
weight_USA = merged[merged.NOC == "USA"].groupby("Year")["Weight"].mean()

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###